.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    @media (max-width: 600px) {
        width: 100%;
    }

    @media (min-width: 600px) {
        width: 50%;
    }
}
