<form
    class="form-container"
    [formGroup]="form"
    (ngSubmit)="onSubmit(formDirective)"
    #formDirective="ngForm"
>
    <h2>Create a new entry</h2>
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input
            matInput
            formControlName="title"
            placeholder="My Visit to Tübingen"
        />
        @if (form.get('title')?.hasError('required')) {
            <mat-error>Title is required</mat-error>
        }
        @if (form.get('title')?.hasError('minLength')) {
            <mat-error>Title has to be at least 3 characters long</mat-error>
        }
        @if (form.get('title')?.hasError('maxlength')) {
            <mat-error>Title cannot be longer than 50 characters</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input
            matInput
            formControlName="name"
            placeholder="John Doe"
        />
        @if (form.get('name')?.hasError('required')) {
            <mat-error>Name is required</mat-error>
        }
        @if (form.get('name')?.hasError('minLength')) {
            <mat-error>Name has to be at least 3 characters long</mat-error>
        }
        @if (form.get('name')?.hasError('maxlength')) {
            <mat-error>Name cannot be longer than 50 characters</mat-error>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea
            matInput
            formControlName="message"
            placeholder="I had a great time!"
        ></textarea>
        @if (form.get('message')?.hasError('required')) {
            <mat-error>Message is required</mat-error>
        }
        @if (form.get('message')?.hasError('minLength')) {
            <mat-error>Message has to be at least 10 characters long</mat-error>
        }
    </mat-form-field>
    <button
        mat-raised-button
        color="primary"
        type="submit"
    >
        Submit
    </button>
</form>
