:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card {
    flex: 1;
}

.footer {
    margin-top: auto;
    padding: 16px;
    opacity: 0.5;
    display: flex;
    justify-content: flex-end;
}

mat-card-content {
    overflow: auto;
    scrollbar-width: thin;
}

mat-card-header {
    justify-content: space-between;
}

.title-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
