:host {
    width: 100%;
}

.left-right-pad {
    padding: 0 16px;
}

.card-content {
    // TODO(bersi): figure out how to make this work
    height: 100%;
}

.footer {
    padding: 16px;
    opacity: 0.5;
    display: flex;
    justify-content: flex-end;
}
